@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  }
}

@layer utilities {
  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  .stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow:
      780px 1520px #FFF, 1480px 480px #FFF, 200px 1350px #FFF,
      1000px 900px #FFF, 1500px 1200px #FFF, 300px 500px #FFF,
      800px 200px #FFF, 1700px 1800px #FFF, 400px 1600px #FFF,
      600px 100px #FFF, 1200px 600px #FFF, 1900px 300px #FFF,
      500px 1900px #FFF, 1600px 1500px #FFF, 100px 800px #FFF,
      1300px 100px #FFF, 700px 1700px #FFF, 1800px 700px #FFF,
      900px 1400px #FFF, 200px 200px #FFF, 1400px 1900px #FFF,
      300px 1100px #FFF, 1100px 400px #FFF, 1500px 800px #FFF;
    animation: animStar 50s linear infinite;
  }

  .stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow:
      780px 1520px #FFF, 1480px 480px #FFF, 200px 1350px #FFF,
      1000px 900px #FFF, 1500px 1200px #FFF, 300px 500px #FFF,
      800px 200px #FFF, 1700px 1800px #FFF, 400px 1600px #FFF,
      600px 100px #FFF, 1200px 600px #FFF, 1900px 300px #FFF,
      500px 1900px #FFF, 1600px 1500px #FFF, 100px 800px #FFF,
      1300px 100px #FFF, 700px 1700px #FFF, 1800px 700px #FFF,
      900px 1400px #FFF, 200px 200px #FFF, 1400px 1900px #FFF,
      300px 1100px #FFF, 1100px 400px #FFF, 1500px 800px #FFF;
  }

  .stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:
      880px 720px #FFF, 680px 1380px #FFF, 1100px 550px #FFF,
      400px 1050px #FFF, 1300px 450px #FFF, 1650px 1650px #FFF,
      950px 1850px #FFF, 250px 650px #FFF, 1750px 950px #FFF,
      550px 1450px #FFF, 1550px 50px #FFF, 850px 1150px #FFF;
    animation: animStar 100s linear infinite;
  }

  .stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:
      880px 720px #FFF, 680px 1380px #FFF, 1100px 550px #FFF,
      400px 1050px #FFF, 1300px 450px #FFF, 1650px 1650px #FFF,
      950px 1850px #FFF, 250px 650px #FFF, 1750px 950px #FFF,
      550px 1450px #FFF, 1550px 50px #FFF, 850px 1150px #FFF;
  }

  .stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow:
      1180px 1020px #FFF, 480px 180px #FFF, 1500px 1250px #FFF,
      700px 1700px #FFF, 1200px 400px #FFF, 300px 1300px #FFF;
    animation: animStar 150s linear infinite;
  }

  .stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow:
      1180px 1020px #FFF, 480px 180px #FFF, 1500px 1250px #FFF,
      700px 1700px #FFF, 1200px 400px #FFF, 300px 1300px #FFF;
  }

  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }
}

html {
  scroll-behavior: smooth;
}
